<h3 class="my-3"><i class="fa-solid fa-pen"></i> 投稿内容編集</h3>

<%= form_with model: @post, url: public_post_path(@post), method: :patch do |f| %>
  <div>
    <%= f.text_field :body, class: "form-group w-75" %>
    <%= f.button :submit, class: "btn btn-success" do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </div>
<% end %>