<div class="row my-3">
  <div class="col-4">
    <h3>投稿一覧 <i class="fa-solid fa-pen"></i></h3>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <% if user_signed_in? %>
      <%= render "public/tagsearches/tagsearches" %>
    <% end %>
  </div>
  <div class="col-4 d-flex align-items-center justify-content-end">
    <% if user_signed_in? %>
      <%= link_to new_post_path, class: "btn btn-primary rounded-circle" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "list", posts: @posts %>