<div class="search_form">
  <%= form_with url: tagsearches_search_path, method: :get, class: "d-flex" do |f| %>
    <%= f.select :word, [["バンドメンバー募集！", "バンドメンバー募集！"],["おすすめアーティスト", "おすすめアーティスト"],["イベント情報","イベント情報"]], include_blank: "投稿をタグで検索できます", class: "form-control" %>
    <%= f.button :submit do %>
      <i class="fa-solid fa-tag"></i>検索
    <% end %>
  <% end %>
</div>