<div>
  <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, method: :post %>
</div>
<div class="text-center">
  Band_Connectはバンドメンバー募集に加え<br>
  バンド内でのコミュニケーションツールとしてもご利用いただけます♪<br>
  皆様のバンドライフのお力添えになればと運営一同、思っております。<br>
</div>