<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>band_introduction</th>
      <th>band_genre</th>
      <th>band_status</th>
    </tr>
  </thead>
  <tbody>
    <% bands.each do |band| %>
    <tr>
      <td><%= image_tag band.get_band_image, size: "50x50" %><br><%= link_to band.name, public_band_path(band) %></td>
      <td><%= band.introduction %></td>
      <td><%= band.genre.name %></td>
    <% if band.band_status == true %>
      <td>募集中</td>
    <% else %>
      <td>締切</td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<!--ページネーション入れます。-->