<h5>バンド一覧</h5>
<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>band_name</th>
      <th>band_introduction</th>
      <th>band_genre</th>
    </tr>
  </thead>
  <tbody>
    <% @bands.each do |band| %>
    <tr>
      <td><%= image_tag band.get_band_image, size: "50x50" %></td>
      <td><%= band.name %></td>
      <td><%= band.introduction %></td>
      <td><%= band.genre.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
