<h5>ジャンル編集</h5>
<%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
  <h6>ジャンル名</h6>
  <%= f.text_field :name %>
  <%= f.submit "Save", class: "btn btn-success" %>
<% end %>
