<h3>コメント一覧</h3>
<table class="table">
  <thead>
    <tr>
      <th>画像</th>
      <th>名前</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @post_comments.each do |post_comment| %>
    <tr>
      <td><%= image_tag post_comment.user.get_profile_image, size: "50x50" %></td>
      <td><%= post_comment.user.name %></td>
      <td><%= post_comment.comment %></td>
      <td><%= link_to "Destroy", admin_post_comment_path(post_comment), method: :delete, data: {confirm: "コメントを削除します"}, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
