<h3 class="my-3">モチベーション編集</h3>
<%= form_with model: @motivation, url: admin_motivation_path(@motivation), method: :patch do |f| %>
  <h5>モチベーション</h5>
  <%= f.text_field :name %>
  <%= f.submit "Save", class: "btn btn-success" %>
<% end %>
