<h3>会員一覧</h3>
<table class="table">
  <thead>
    <tr>
      <th>User Infomation</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image, size: "50x50" %><br><%= link_to user.name, public_user_path(user) %></td>
      <!--&は後々消します-->
      <td><%= user.musical_instrument&.name %><br><%= user.introduction %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<!--ページネーション入れます。-->