<footer>
  <div class="fixed-bottom text-white" style="background-color: blue; ">
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          Band_Connect@DMM WEBCAMP
        </div>
      </div>
    </div>
  </div>
</footer>
